[submodule "Programming"]
	path = Programming
	url = https://github.com/NareshKoirala/Programming.git
[submodule "Process-Automation"]
	path = Process-Automation
	url = https://github.com/NareshKoirala/Process-Automation.git
