[submodule "nkoirala-Lib"]
	path = nkoirala-Lib
	url = 'github.com/NareshKoirala/nKoirala-Lib.git'
[submodule "Programming"]
	path = Programming
	url = 'github.com/NareshKoirala/Programming.git'
[submodule "Process-Automation"]
	path = Process-Automation
	url = 'github.com/NareshKoirala/Process-Automation.git'
